
body {
    font-family: Arial, sans-serif;
    margin: 10px;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

/* Vega container */
#app {
    width: 100%;
    position: relative; 
}

